@using nightowlsign.data.Models.ScheduleImage
@model ScheduleImageViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="modal-title">@Model.Schedule.Name</h4>
</div>
<div class="modal-body">
    <div class="row">
        @foreach (var item in Model.AllImages)
        {
            string imageBase64 = Convert.ToBase64String(item.ThumbNail);
            string imageSrc = $"data:image/gif;base64,{imageBase64}";
            <div class="col-sm-6 col-md-3">
                <img class="img-responsive modal-img" src="@imageSrc" style="width: 100%;">
            </div>
        }
    </div>
</div>
